#bugTracker {
    position: fixed;
    background-color: #CFD8DC;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50% 0 0 0;
    padding: 4px 0 0 4px;
    opacity: 0.3;
}
#bugTracker:hover {
    opacity: 1;
}
#bugTracker .b-label i {
    font-size: 40px;
}